.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
*.md
tests
docker-compose*.yml
Makefile
